#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#factContainer {
  margin-top: 20px;
}

footer {
position:fixed;
bottom: 0px;
width: 400px;
text-align: center;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body	{ background:url(images/cool-background.svg) top right no-repeat; background-attachment:fixed; }